body {
	background-color:green;
}
button {
	
}
h1 {
	color:white;
	font-size:50px;

}
h2 {
	font-family:  'Rock Salt', cursive;
	font-size: 1.5em;
	margin: 0;
}
article ul li {
	
}
img {
	margin: 10;
	border: 10px solid black;
	align: 10px;
}
header {
	
}
header ul {

}
nav ul li {

}
.centered {

}
.container{
	
}

.column{
	
}
.four{

}
.gutter{
}
section{
}
.row{
}
footer{

}